@import url('https://fonts.googleapis.com/css?family=Andika');
/*
Color Scheme for this Website:
#EDEEEF
#0B3566
#1669c9
#80A2C9
#074999
*/
body{
  font-size: 1em;
  font-weight: normal;
  font-family: 'Andika';
  color: #000000 /*black*/;
  text-align: left;
  background-color: #EDEEEF;
  max-width: 75%;
  margin-left: 10%
}
h1{
  font-size: 3em;
  font-weight: bold;
  color: #0B3566 /*blue*/;
  text-align: center;
  margin-left: 12%;
  border: 5px solid #1669c9;
  border-radius:2em;
  box-shadow: 15px 15px 5px #4C4C4C;
  background-color: #80A2C9;
  width: 775px;
}
h2{
  width: 300px;
  height: 60px;
  border: 2px solid #1669c9;
  box-shadow: 10px 10px 5px #4C4C4C;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  text-align: center;
  background-color:#80a2c9;
  line-height: 97.5%;
}
p{
  font-size: 1.25em;

}
a{
  color:#074999;
  font-size: 1.25em;
  text-decoration: none;
}
h3{
  font-size:2em
}
h4{
  font-size:1.85em;
  color:#074999;
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 750px;
    background-color:#2D5E99;
    border: 7px solid #0B3566;
    border-radius: 25px;
}
.navli{
    float: left;
    width: 250px;
    color: #E2EFFF;
    border-radius: 15px;
}
.nava{
    display: block;
    padding: 8px;
    color: #E2EFFF;
    text-align: center;
}
.navli:hover {
    background-color:#0B3566;
}
.currentpage{
  float: left;
  width: 250px;
  color: #E2EFFF;
  background-color: #0B3566;
  border-radius: 15px;
}
#unit3nav{
  width: 500px;
}
.line{
  text-decoration: underline;
}
.unit2img{
  height:125px;
  width: 600px;
}
.menu{
  border: 4px solid #1669c9;
  position: fixed;
}
#indexmenu{
  margin-left: 60%;
  height: 318px;
  width: 200px;
}
#unit2menu{
  margin-left: 60%;
  height: 130px;
  width: 200px;
}
#unit3menu{
  margin-left: 70%;
  height: 225px;
  width: 200px;
}
#u3projectmenu{
  margin-left: 65%;
  height: 100px;
  width: 105px;
}
.menuli :hover{
  color: black;
}
