#quote1{
  background-image: url("../images/unit3project.png");
  background-size: cover;
  background-position: center center;
  height: 800px;
  width: 800px;

}
#quote2{
  background-image: url("../images/unit3project.png");
  background-size: cover;
  background-position: center center;
  height: 800px;
  width: 800px;

}
